<div class="jumbotron">
    <h1>Project ADONIS 0.01a</h1>
    <p class="lead">User Instruction Manual</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Main features 0.01a</h2>
        <p>Create; Edit and Search Candidates.</p>
        <p>The options are on the top navigation bar.</p>
        @ViewBag.Features
    </div>
    <div class="col-md-4">
        <h2>!WARNING!</h2>
        @ViewBag.Warning
    </div>
</div>
<h2 style="text-align:center;"> Have a nice day :)</h2>